.hero {
  display: flex;
  /* 下　　　　　横方向の真ん中に設置 */
  justify-content: center;
  /* 垂直方向の真ん中に設置 */
  align-items: center;
  background-color: #f2f7f5;
  padding: 5rem;
}

.hero_figure {
  width: 100%;
  height: 100%;
}

.hero_figure_img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.about {
  background-color: #00473e;
  color: #00473e;
  padding: 5rem;
}

.about_wrapper {
  background-color: #f2f7f5;
}

.about_wrapper_title {
  display: flex;
  /* 下　　　　　横方向の真ん中に設置 */
  justify-content: center;
  /* 垂直方向の真ん中に設置 */
  align-items: center;

  padding: 4rem;
}

.about_wrapper_text {
  margin-top: 1rem;
  display: flex;
  /* 下　　　　　横方向の真ん中に設置 */
  justify-content: center;
  /* 垂直方向の真ん中に設置 */
  align-items: center;
  padding: 4rem;
}
